server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  profiles:
    active: native
  data:
    mongodb:
      uri: "mongodb+srv://sanjueranga16:6KZ4kKTWyGkdL0fL@cluster0.wo9dkqh.mongodb.net/?retryWrites=true&w=majority"
